In [1]:
# Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
# Add ‘mango to the above list
# Also add banana, grapes & orange in the list
# insert apple in the 5th position of a variable ‘a’
# Remove last item from the list

In [2]:
a =[2,3,4,5,6,7]

In [3]:
a.append('mango')

In [4]:
a

[2, 3, 4, 5, 6, 7, 'mango']

In [5]:
a.append('banana')

In [6]:
a.append('grapes')

In [7]:
a.append('orange')

In [8]:
a

[2, 3, 4, 5, 6, 7, 'mango', 'banana', 'grapes', 'orange']

In [9]:
a.insert(5,'apple')

In [10]:
a

[2, 3, 4, 5, 6, 'apple', 7, 'mango', 'banana', 'grapes', 'orange']

In [11]:
a.index('apple')

5

In [12]:
a.pop()

'orange'

In [13]:
a

[2, 3, 4, 5, 6, 'apple', 7, 'mango', 'banana', 'grapes']

In [14]:
# Using the above list slice from 1:4

l = [1,2,3,4,5,6,7]

In [15]:
l

[1, 2, 3, 4, 5, 6, 7]

In [16]:
l[1:4]

[2, 3, 4]

In [17]:
# Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [18]:
L = [4,5,6,8,3]

In [19]:
L[::-1]

[3, 8, 6, 5, 4]

In [20]:
# Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [21]:
L = [2,4,7,3,6,8]

In [22]:
L

[2, 4, 7, 3, 6, 8]

In [23]:
[i**2 for i in L]

[4, 16, 49, 9, 36, 64]

In [24]:
# Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a 
# tuple of your choice.

In [25]:
def tuple_sum(tup):
    
    '''---This function take a integers tuple and return the sum of the integers---'''
    s = 0
    for i in tup:
        s += i
    return "Sum of Tuple Eelememts: ",s

In [26]:
t= (2,3,4,5,8)

In [27]:
tuple_sum(t)

('Sum of Tuple Eelememts: ', 22)

In [28]:
# Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
# Print the resulting set to the console.

In [29]:
s1 = {'apple','banana','grapes','orange'}
s2 = {'pineapple','kiwi','watermelon','cherry'}

In [30]:
s1_s2 = s1.union(s2)

In [31]:
print(s1_s2)

{'cherry', 'kiwi', 'grapes', 'orange', 'banana', 'pineapple', 'watermelon', 'apple'}

In [32]:
# Create a set of random words, and use the add() method to add a new word to the set. Print the
# resulting set to the console.

In [33]:
random_words = {'a','b','c'}

In [34]:
random_words.add('abc')

In [35]:
print(random_words)

{'c', 'a', 'abc', 'b'}

In [36]:
# Create a set of your favourite animals, and use the remove() method to remove one animal from the
# set. Print the resulting set to the console.

In [37]:
s = {'Tiger','Lion','Wolf','Dog','Cat','Elephant','Fox'}

In [38]:
s

{'Cat', 'Dog', 'Elephant', 'Fox', 'Lion', 'Tiger', 'Wolf'}

In [39]:
s.remove('Dog')

In [40]:
print(s)

{'Fox', 'Cat', 'Lion', 'Elephant', 'Wolf', 'Tiger'}

In [41]:
# favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
# favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
# Use the zip() function to combine the book set and movie list into a list of tuples representing book/
# movie pairs. Print the resulting list.

In [42]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

In [43]:
combine = zip(favorite_books,favorite_movies)

In [44]:
l = []
for i in combine:
    l.append(i)
print(l)

[('Pride and Prejudice', 'The Shawshank Redemption'), ('1984', 'The Godfather'), ('To Kill a Mockingbird', 'The Dark Knight')]

In [45]:
print(list(zip(favorite_books,favorite_movies)))

[('Pride and Prejudice', 'The Shawshank Redemption'), ('1984', 'The Godfather'), ('To Kill a Mockingbird', 'The Dark Knight')]